.main-layout {
    display: flex;
    padding: 30px;
    gap: 30px;
}

.filter-list label {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border: 2px solid #468201;
    padding: 10px 15px;
    border-radius: 8px;
    color: #468201;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.filter-list label:hover {
    background-color: #468201;
    color: white;
}

.filter-list input[type="checkbox"] {
    accent-color: #468201;
    transform: scale(1.2);
}

.sidebar h2 {
    text-align: center;
    margin: 0 0 20px 0; /* Adiciona um espaço abaixo do título */
}

.page-header {
    background-color: #e8eef4;
    padding: 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size:2em;
    color: #468201;
    text-align: center;
}

.content-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.content-box h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.page-title-btn {
    display: inline-block;
    background-color: #468201;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    transition: background 0.3s, transform 0.2s;
}

.page-title-btn:hover {
    background-color: #356b01;
    transform: translateY(-2px);
}
/* Container for the go-back button */
.go-back-container {
    margin: 50px; /* Adjust margin to match RecordPlans */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the button to the left */
    margin-bottom: 10px; /* Add spacing below the button */
  }
  
  /* Go-back button */
  .go-back-btn {
    background-color: #468201;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40px; /* Square size */
    height: 40px; /* Square size */
    font-size: 1.5em; /* Larger arrow */
    display: flex;
    align-items: center; /* Center the arrow vertically */
    justify-content: center; /* Center the arrow horizontally */
  }
  
  .go-back-btn:hover {
    background-color: #356601;
  }