{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4><i class="bi bi-lock"></i> Login</h4>
                </div>
                    <div class="card-body">
                        <form method="POST">
                        <div class="mb-3">
                            <label for="nif" class="form-label">NIF</label>
                            <input type="number" class="form-control" id="nif" name="nif" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <a href="{{ url_for('register') }}" class="btn btn-link mt-3">Ainda não tem conta? Registar</a>
                    </form>

                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}